@charset "utf-8";

@font-face {
    font-family: "Libertinus Serif";
    src: url(fonts/LibertinusSerif-Italic.woff) format('woff');
    font-weight: normal;
    font-style: italic;
}

body {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}

main {
    margin-bottom: 1rem;
}   

footer {
    margin-top: auto;
    border-top: thin solid hsl(30,20%,80%);
    padding: 0.5rem 0;
    font-size: 75%;
}

h1 {
    font-family: "Libertinus Serif", "Times New Roman", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 240%;
    text-decoration: underline;
    color: hsl(30,80%,20%);
    text-decoration-color: hsl(30,20%,80%);
    margin-top: 0;
    padding-top: 0.5rem;
}
